# Environnement virtuel
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints


# Modèles sauvegardés
*.pt
*.pth
*.ckpt

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log